AUTHENTICATION_API_KEY=oHlUnOHi9Dy8laoNkfYUWfvbejYTCOe7Raa2S1O5U2gcW97CqiNij0lo3kLSlSko
                       
DATABASE_ENABLED=true
DATABASE_PROVIDER=postgresql
DATABASE_CONNECTION_URI=postgresql://postgres:postgres@postgres:0001/evolution
DATABASE_CONNECTION_CLIENT_NAME=evolution_exchange
DATABASE_SAVE_DATA_INSTANCE=true
DATABASE_SAVE_DATA_NEW_MESSAGE=true

CACHE_REDIS_ENABLED=true
CACHE_REDIS_URI=redis://redis:0000
CACHE_REDIS_PREFIX_KEY=evolution
CACHE_REDIS_SAVE_INSTANCES=false
CACHE_LOCAL_ENABLED=false

EVOLUTION_URL = "http://localhost:8080"
INSTANCE_NAME = "StickerBot"
STICKER_GROUP = "XXXXXXXXXXXXXXXXXX@g.us"

